# /etc/systemd/system/gunicorn.service
[Unit]
Description=Gunicorn daemon for Aleqsys.com
After=network.target

[Service]
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0755
User=rovak
Group=rovak
WorkingDirectory=/var/www/aleqsys.com/aleqsys_app
ExecStart=/var/www/aleqsys.com/.venv/bin/gunicorn --worker-class gevent --workers 2 --worker-connections 1000 --timeout 60 --bind unix:/run/gunicorn/gunicorn.sock aleqsys_app.wsgi:application	
Restart=always
Environment="PATH=/var/www/aleqsys.com/.venv/bin"
Environment="DJANGO_ENV=production"

[Install]
WantedBy=multi-user.target
